/*-- scss:defaults --*/
$rvh-blue: #2a424e;

$link-color: #4697d2 !default;
$card-bg: $rvh-blue;
$foldable-color: #0f0f0f;

$code-color: var(--bs-body-color) !default;
$code-bg: $rvh-blue;

$card-cap-bg: rgba(black, 0.2);

$btn-code-copy-color: $link-color !default;
$btn-code-copy-color-active: white !default;

/*-- scss:rules --*/
#quarto-content {
    padding-top: 2rem;
}

.r-val-hub-header {
    padding-bottom: 2em;

    .r-val-hub-logo-img {
        width: 60%;
    }
}

.top-page {
    display: flex;
    padding: 15px 15px 15px 45px;
    gap: 1rem;
    box-shadow: 0px 5px 75px var(--bs-black);
    align-items: center;
   
    .btn {
        margin-top: 5px;
    }

    p   {
        font-weight: bold;
        font-size: larger;
        margin-top: 1.2rem;
    }
}

.callout {
    .callout-header {
        @extend .my-0;
    }
}

.card {
    &.card-danger {
        @extend .bg-danger;
        @extend .text-dark;

        .card-icon::before {
            content: "\F623";
            font-family: "Bootstrap-icons";
        }
    }

    &.card-warning {
        @extend .bg-warning;
        @extend .text-dark;

        .card-icon::before {
            content: "\F335";
            font-family: "Bootstrap-icons";
        }
    }

    &.card-success {
        @extend .bg-success;
        @extend .text-dark;

        .card-icon::before {
            content: "\F26B";
            font-family: "Bootstrap-icons";
        }
    }

    .card-icon {
        position: absolute;
        opacity: 15%;
        left: 80%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1000%);
    }
    
    .card-title {
        color: unset;
    }

    .card-text {
        color: unset;
    }

    // avoid extra padding from tools::Rd2HTML wrapping fragments in <p>
    .card-footer p {
        margin: 0;
    }
}

.top-card {
    display: flex;
    gap: 1em;

    .top-left-card {
        .card-title {
            margin-top: 0.5rem;
        }
    }

    .top-right-card {
        display: flex;
        flex: 1 2;

        .left-card {
            border-radius: 15px 0px 0px 15px;
            border-right: unset;
            width: 100%;
        }

        .right-card {
            border-radius: 0% 15px 15px 0;
            width: 100%;
            border-left: unset;
        }
    }
}

.bottom-card {
    display: flex;
    flex-direction: row;

    .card-title {
        margin-top: 10px;
        padding-top: 10px;

    }

    .card-header {
        flex: 1;
        margin-top: 10px
    }
}

.metrics-table {
    color: $rvh-blue;
    border-color: $rvh-blue;
    background-color: var(--bs-body-bg) !important;

    .rt-expander::after {
        border-top: 7px solid $rvh-blue;
    }
}


details > summary {
    color: $rvh-blue;
    background-color: $foldable-color;
    padding: 10px 1rem 10px 1rem;
    border-bottom: 2px solid $link-color;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: medium;
}

pre.details {
    color: $link-color;
    background-color: $foldable-color;
    border-radius: 0px;
    padding: 10px 1rem 10px 1rem;

    code {
        overflow:auto;
    }
}
